@font-face {
  font-family: mainFont;
  src: url(../media/font/EarlyGameBoy.ttf);
}

* {
  box-sizing: border-box;
  scroll-behavior:smooth;
}

body {
  background-image: url(../media/images/backgroundImage.png);
  font-family: mainFont;
}

.returnBTN {
  position: absolute;
  right: 78.5%;
  left:17.5%;
  top:16.5%;
  width:5VW;
  height:5vw;
  background-color: #b05c5c;
  box-shadow: 0 0 20px #691818 inset, 0px 0px 10px rgb(108, 49, 49);
  border-radius: 100%;
  text-align: center;
  align-content: center;
  padding-top:0.8%;
  filter:blur(1px)
}

.mainDisplayArea {
  background-image: url(../media/images/screenBKG.png);
  width: 68vw;
  height: 80vh;
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.1vh;
  padding-bottom: 1vh;
  overflow-y: scroll;
  box-shadow: 0 0 20px #535614 inset, 0px 0px 2px black;
  scrollbar-width: none;
  border: solid #424242;
  border-width: 3vh 6vw 3vh 8vw;
  border-radius: 10px 10px 100px 10px;
  overflow-y: scroll;
}

.navBarArea {
  width:70vw;
  height:5vw;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding:10px;
  text-align: center;
  align-content: center;
}

.NAVBTN1,
.NAVBTN2,
.NAVBTN3 {
  background-color: #d6d6d6;
  color: #180e40;
  font-size: 100%;
  width:15vw;
  height:auto;
  margin-top:1%;
  margin-left:1%;
  margin-left:2%;
  display: inline-block;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  box-shadow: 0px -1px 1px black inset, 0px 1px 3px black;
}

.NAVBTN1:hover,
.NAVBTN2:hover,
.NAVBTN3:hover {
  background-color: #c6c6c6;
}

.NAVBTN1:active,
.NAVBTN2:active,
.NAVBTN3:active {
  background-color: #535353;
  box-shadow: 0px 0px 5px black inset, 0px 0px 5px black;
}

.logoArea {
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 1vh;
}

.title {
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.readings {
  width: 100%;
  height: auto;
  text-align: center;
  align-content: center;
  overflow: hidden;
  margin-top:10%;
  font-size: 2.5em;
  color:#26500e;
  filter: drop-shadow(2px 2px 2px #535614) blur(1px);
}

.exercises {
  width: 100%;
  height: auto;
  text-align: center;
  align-content: center;
  overflow: hidden;
  margin-top:25%;
  font-size: 2.5em;
  color:#26500e;
  filter: drop-shadow(2px 2px 2px #535614) blur(1px);
}

.projects {
  width: 100%;
  height: auto;
  text-align: center;
  align-content: center;
  overflow: hidden;
  margin-top:25%;
  margin-bottom:20%;
  font-size: 2.5em;
  color:#26500e;
  filter: drop-shadow(2px 2px 2px #535614) blur(1px);
}

#mainLogo {
  margin: auto;
  width: 32%;
  height: auto;
  image-rendering: pixelated;
  filter: drop-shadow(2px 2px 2px #535614) blur(1px);
}

#signature {
  margin:auto;
  width:50%;
  height:auto;
  image-rendering: pixelated;
  filter: drop-shadow(2px 2px 2px #535614) blur(1px);
}

#returnArrowIMG {
  width:65%;
  height:auto;
  margin:1%;
  image-rendering: pixelated;
  -webkit-animation: blink-1 5s ease-in-out infinite both;
  animation: blink-1 7.5s ease-in-out infinite both;
}

#emailContact {
  font-size: 0.75em;
}

#gameCard0 {
  font-size:0.75em;
  height: auto;
  margin-top: 5%;
  color:#5a6f2a;
}

#gameCard0Sub {
  font-size:0.5em;
}

a {
  color:#5a6f2a;
}

a:visited {
  color:#5a6f2a;
}

a:hover {
  color:#26500e;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-23 1:12:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
 @-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 0.75;
  }
  25%,
  75% {
    opacity: 0.25;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 0.75;
  }
  25%,
  75% {
    opacity: 0.25;
  }
}
